:root {
    --menu-border: 4px;
}

body {
    background-image: url("assets/plate_back.png");
    background-size: 7em;
    image-rendering: pixelated;


    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;

    overflow: hidden;
}

.navigation-menu {
    display: flex;
    font-size: 2em;
    background-color: #2f3952;
    padding: 0.2em;
    border: #202530 solid 6px;
}

.navi-button {
    flex: auto;
    text-align: center;
    border-bottom: #202530 solid var(--menu-border);
    border-top: #202530 solid var(--menu-border);
    border-left: #202530 solid calc(var(--menu-border)/2);
    border-right: #202530 solid calc(var(--menu-border)/2);

}

.navi-button:first-child{
    border-left: #202530 solid var(--menu-border);
}
.navi-button:last-child{
    border-right: #202530 solid var(--menu-border);
}

a.navi-button:hover {
    background-color: #343f59;
}

a.navi-button:hover,
a.navi-button:active,
a.navi-button {
    text-decoration: none;
    color: aliceblue;
}

.right-menu {
    position: absolute;
    right: 8px;
    display: block;
    background-color: #2f3952;
    border: #202530 solid 6px;
    width: 10em;
    height: 47em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: auto;
    margin-top: 0.5em;

}

scroll-page {
    transition: 0.5s;
    justify-content: center;
    display: flex;
    
}

.part-slot {
    scale: 2;
    margin: 2.5em;
    user-select: none;
}


scroll-page:hover {
    transition: 0.5s;
    scale: 1.1;
}

.main-area {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 75px;
}

#zone {
    border: black solid 3px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.part-icon {
    position: absolute;
    /* scale: 2; */
    /* translate: 0px 42px; */
    z-index: 1;
}

.figure:hover {
    stroke:aquamarine;
    stroke-width: 2;
}

/* .pixelify-sans-def {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */
  
/* border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px; */